flows_DESKTOP-75BSS2A.json
[{"id":"6ebac979.99d1d8","type":"tab","label":"Scale Sample","disabled":false,"info":""},{"id":"130437bc.7c7008","type":"tab","label":"MySQL Sample","disabled":false,"info":""},{"id":"959de826.34da18","type":"tab","label":"VusJS Sample","disabled":false,"info":""},{"id":"29ec20e0.4d1cf","type":"tab","label":"Modbus Test","disabled":false,"info":""},{"id":"b5c63e8f.9b574","type":"tab","label":"Modbus HTTP","disabled":false,"info":""},{"id":"7ba3c69.3ac4738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"17202a26.488ad6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3445e2","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3376c269.be8fde","type":"ui_group","z":"","name":"라인 1","tab":"e2a4a65e.b6aeb8","disp":true,"width":"6","collapse":false},{"id":"e2a4a65e.b6aeb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"a4644a78.35ee08","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3e2694c0.7cfabc","type":"MySQLdatabase","z":"130437bc.7c7008","host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"981b3d60.cf62d","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"node_red","tz":""},{"id":"6ae055ff.bd93ec","type":"ui_group","z":"","name":"라인 2","tab":"e2a4a65e.b6aeb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3dbfa5da.c29e6a","type":"serial-port","z":"6ebac979.99d1d8","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f613c393.c8054","type":"ui_group","z":"","name":"라인 3","tab":"e2a4a65e.b6aeb8","disp":true,"width":"6","collapse":false},{"id":"cffb1b78.798918","type":"ui_group","z":"","name":"라인 4","tab":"e2a4a65e.b6aeb8","disp":true,"width":"6","collapse":false},{"id":"7f686258.f20b4c","type":"websocket-listener","z":"","path":"/ws/scaleData","wholemsg":"false"},{"id":"800dfc5f.cfa69","type":"websocket-listener","z":"959de826.34da18","path":"/websocket","wholemsg":"false"},{"id":"98278f83.ec99","type":"websocket-listener","z":"","path":"/ws/mqttchart","wholemsg":"false"},{"id":"6a78f790.184678","type":"modbus-client","z":"","name":"COM11","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"e85c0168.8d473","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"9f5049b1.f78d88","type":"modbus-client","z":"","name":"TESTCOM3","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM1","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"10000","reconnectTimeout":"2000"},{"id":"2192b020.beac1","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b8d95883.e883d8","type":"modbus-client","z":"b5c63e8f.9b574","name":"Modbus Flex Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"18502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"9fde34f4.b4d728","type":"modbus-client","z":"","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"a0d93b54.7a8818","type":"ui_group","z":"","name":"Modbus Test","tab":"d9d83bcd.9b90d8","disp":true,"width":"6"},{"id":"d9d83bcd.9b90d8","type":"ui_tab","z":"","name":"Modbus","icon":"dashboard"},{"id":"24b6182a.959e98","type":"inject","z":"6ebac979.99d1d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["1101308b.0ebe8f"]]},{"id":"1101308b.0ebe8f","type":"function","z":"6ebac979.99d1d8","name":"랜덤 저울 및 무게","func":"/* \nmsg = {\n    scale_no: Math.round(Math.random()*8),\n    payload: Number((Math.random()*100).toFixed(1)),\n    datetime: new Date().toLocaleString()\n};\n*/\nmsg.payload = {\n    groupName: '그룹1',\n    scaleID: Math.round(Math.random()*7 + 1),\n    status: true,\n    errorCode: null,\n    statusMessage: null,\n    weight: Number((Math.random()*100).toFixed(1)),\n    unit: 'KG',\n    sendTime: new Date().toLocaleString()\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["bc6c86d3.213998"]]},{"id":"e7cb864c.70ff28","type":"inject","z":"130437bc.7c7008","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":160,"wires":[["926e1e.8f6791e"]]},{"id":"926e1e.8f6791e","type":"function","z":"130437bc.7c7008","name":"INSERT Data","func":"msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["ebc26675.132ff8"]]},{"id":"f925f637.607428","type":"debug","z":"130437bc.7c7008","name":"","active":true,"console":"false","complete":"false","x":771,"y":292,"wires":[]},{"id":"6edee527.26dd6c","type":"inject","z":"130437bc.7c7008","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168,"y":212,"wires":[["8f8ca3d5.0991c"]]},{"id":"8f8ca3d5.0991c","type":"function","z":"130437bc.7c7008","name":"Update Data","func":"msg.topic = \"Update Department Set Department_name = ? where Department_id=?\";\nmsg.payload=['Logistics Managers','3']\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":216,"wires":[["ebc26675.132ff8"]]},{"id":"4ed67261.92368c","type":"inject","z":"130437bc.7c7008","name":"Go","topic":"","payload":"warehouse","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":380,"wires":[["71d30a5a.d53824"]]},{"id":"71d30a5a.d53824","type":"function","z":"130437bc.7c7008","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM department WHERE department_name LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["ebc26675.132ff8"]]},{"id":"69645d30.e18524","type":"inject","z":"130437bc.7c7008","name":"INSERT Bind - via JSON","topic":"INSERT INTO department (Department_name) VALUES (?)","payload":"[\"This is a funny world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":189,"y":277,"wires":[["5817cf44.e48c3"]]},{"id":"5817cf44.e48c3","type":"json","z":"130437bc.7c7008","name":"","property":"payload","action":"","pretty":false,"x":389,"y":277,"wires":[["ebc26675.132ff8"]]},{"id":"9764a29b.be179","type":"inject","z":"130437bc.7c7008","name":"Go \"Warehouse\"","topic":"","payload":"%Warehouse%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":440,"wires":[["5aa05a44.66c874"]]},{"id":"5aa05a44.66c874","type":"function","z":"130437bc.7c7008","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM Department WHERE Department_Name LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["ebc26675.132ff8"]]},{"id":"8987f067.e8ef2","type":"inject","z":"130437bc.7c7008","name":"Go \"MAnagers\"","topic":"","payload":"%Managers%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":480,"wires":[["5aa05a44.66c874"]]},{"id":"c18bf4b9.523728","type":"function","z":"130437bc.7c7008","name":"Delete Bind","func":"msg.topic = \"Delete From department where Department_id = ?\";\nmsg.payload = [ \"6\"];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["ebc26675.132ff8"]]},{"id":"4e0f8d12.566524","type":"inject","z":"130437bc.7c7008","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":320,"wires":[["c18bf4b9.523728"]]},{"id":"d110eb90.5ec9c8","type":"function","z":"130437bc.7c7008","name":"INSERT Data","func":"msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\nmsg.payload = [ \"test\"];\nreturn msg;\n\nmsg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["ebc26675.132ff8"]]},{"id":"10937634.3cbb8a","type":"inject","z":"130437bc.7c7008","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":100,"wires":[["d110eb90.5ec9c8"]]},{"id":"ebc26675.132ff8","type":"mysql","z":"130437bc.7c7008","mydb":"981b3d60.cf62d","name":"mySql","x":620,"y":220,"wires":[["f925f637.607428"]]},{"id":"26864c90.542a04","type":"http in","z":"6ebac979.99d1d8","name":"이동식 온도,습도 모니터링","url":"/portable","method":"get","upload":false,"swaggerDoc":"","x":150,"y":820,"wires":[["8784c9e.ff46338"]]},{"id":"81786467.c4fc58","type":"websocket out","z":"6ebac979.99d1d8","name":"온도,습도 전송","server":"98278f83.ec99","client":"","x":520,"y":860,"wires":[]},{"id":"8784c9e.ff46338","type":"template","z":"6ebac979.99d1d8","name":"온도,습도 차트","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>실시간 온도, 습도 측정기</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css\" />\n  <script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  <script src=\"//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts.js\"></script>\n\n  <script>\n     var chart;  // 온도\n     var chart2;  // 습도\n\n     if(location.protocol==\"https:\"){\n          var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/mqttchart\";\n     } else {\n          var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/mqttchart\";\n     }\n     var ws=null;\n\n     function wsConn() {\n          ws = new WebSocket(wsUri);\n          ws.onmessage = function(m) {\n               console.log('[@.@] ' + new Date().toLocaleString() + m.data);\n               if (typeof(m.data) === \"string\" && m. data !== null){\n                    var msg =JSON.parse(m.data);\n                    var today = new Date();\n                    today.setHours(today.getHours() + 9);\n                    var t = today.getTime();\n                    chartAddPoint([t, msg.temperature], [t, msg.humidity]);\n               }\n          }\n          ws.onopen = function() {\n               console.log(\"[@.@] connecting...\");\n          }\n          ws.onclose   = function()  {\n               ws = null;\n               setTimeout(wsConn, 10000);\n          }\n          ws.onerror  = function(){\n               console.log(\"[@.@] connection error\");\n          }\n     }\n     wsConn();\n\n     function chartAddPoint(tval, hval)\n     {\n          var series = chart.series[0],\n          shift = series.data.length > 20;\n          chart.series[0].addPoint(eval(tval), true, shift);\n          \n          var series2 = chart2.series[0],\n          shift2 = series2.data.length > 20;\n          chart2.series[0].addPoint(eval(hval), true, shift2);\n     }\n\n     $(function() {\n          // 온도\n          chart = new Highcharts.Chart({\n               chart: {\n                    renderTo: 'temp',\n                    defaultSeriesType: 'spline',\n\n               },\n               title: {\n                    text: '실시간 온도 데이터'\n               },\n               xAxis: {\n                    type: 'datetime',\n                    tickPixelInterval: 120,\n                    maxZoom: 20 * 1000\n               },\n               yAxis: {\n                    minPadding: 0.2,\n                    maxPadding: 0.2,\n                    title: {\n                         text: '온도 ( °C )',\n                         margin: 20\n                    }\n               },\n               series: [{\n                    name: '온도',\n                    data: []\n               }]\n          });\n          // 습도\n          chart2 = new Highcharts.Chart({\n               chart: {\n                    renderTo: 'humi',\n                    defaultSeriesType: 'spline',\n\n               },\n               title: {\n                    text: '실시간 습도 데이터'\n               },\n               xAxis: {\n                    type: 'datetime',\n                    tickPixelInterval: 120,\n                    maxZoom: 20 * 1000\n               },\n               yAxis: {\n                    minPadding: 0.2,\n                    maxPadding: 0.2,\n                    title: {\n                         text: '습도 ( % )',\n                         margin: 20\n                    }\n               },\n               series: [{\n                    name: '습도',\n                    data: []\n               }]\n          });\n\n     });\n      </script>\n</head>\n<body>\n  <div id=\"temp\" style=\"width: 100%; height: 300px; margin-left:-5px;\"></div>\n  <div id=\"humi\" style=\"width: 100%; height: 300px; margin-left:-5px;\"></div>\n</body>\n</html>","x":381,"y":820,"wires":[["2e896489.d44b2c"]]},{"id":"2e896489.d44b2c","type":"http response","z":"6ebac979.99d1d8","name":"mqttchart","statusCode":"","headers":{},"x":568,"y":820,"wires":[]},{"id":"bd7dbcd1.52c66","type":"inject","z":"6ebac979.99d1d8","name":"","topic":"인젝트","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["35c9e10.bd8702"]]},{"id":"35c9e10.bd8702","type":"function","z":"6ebac979.99d1d8","name":"Random","func":"// msg.payload = Math.round(Math.random()*100);\nmsg.payload = {\n    temperature: Number((Math.random()*30).toFixed(1)),\n    humidity: Number((Math.random()*50).toFixed(1))\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["81786467.c4fc58"]]},{"id":"f0b1879a.610678","type":"function","z":"6ebac979.99d1d8","name":"Data Insert","func":"let scaleData = msg.payload[0];\nlet weightData = flow.get('weightData');\n\nweightData = Object.assign(weightData, scaleData);\n\n// flow 전역변수 저장\nflow.set('scaleData', scaleData);\n\nmsg.topic = `\n    INSERT INTO tblscalestatus (\n        groupName, scaleID, scaleName, status, \n        errorCode, statusMessage,\n        weight, unit, unitPerWeight, sendTime\n        ) \n    VALUES (\n        ?, ?, ?, ?,\n        ?, ?,\n        ?, ?, ?, ?\n    )\n`;\nmsg.payload = [\n    weightData.groupName, weightData.scaleID, scaleData.scaleName, weightData.status,\n    weightData.errorCode, weightData.statusMessage,\n    weightData.weight, weightData.unit, weightData.unitPerWeight, weightData.sendTime\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["6638f4d7.d5de0c"]]},{"id":"42ba77b6.b5d718","type":"debug","z":"6ebac979.99d1d8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":260,"wires":[]},{"id":"637d874b.180d88","type":"mysql","z":"6ebac979.99d1d8","mydb":"981b3d60.cf62d","name":"검색 - MySQL","x":320,"y":200,"wires":[["42ba77b6.b5d718","f0b1879a.610678"]]},{"id":"b3b78870.c10578","type":"http in","z":"959de826.34da18","name":"","url":"/vue-websocket","method":"get","upload":false,"swaggerDoc":"","x":190,"y":100,"wires":[["c28b5236.137b8"]]},{"id":"dda1c9dd.987198","type":"http response","z":"959de826.34da18","name":"","statusCode":"","headers":{},"x":600,"y":100,"wires":[]},{"id":"2d5c8000.6f6f8","type":"function","z":"959de826.34da18","name":"kill msg","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["ff425773.75bb38"]]},{"id":"f5a63739.a76558","type":"websocket in","z":"959de826.34da18","name":"","server":"800dfc5f.cfa69","client":"","x":230,"y":220,"wires":[["2d5c8000.6f6f8","901e7133.a1d27"]]},{"id":"ff425773.75bb38","type":"websocket out","z":"959de826.34da18","name":"","server":"800dfc5f.cfa69","client":"","x":830,"y":180,"wires":[]},{"id":"7c33eb25.e0b704","type":"comment","z":"959de826.34da18","name":"VueJS App","info":"","x":150,"y":60,"wires":[]},{"id":"1f797ad4.6b9285","type":"inject","z":"959de826.34da18","name":"TEST timestamp","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["ff425773.75bb38"]]},{"id":"c28b5236.137b8","type":"template","z":"959de826.34da18","name":"VueJS Websocket","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Send</button>\n        <p>Connected: {{ isConnected }}</p>\n        <br>\n        <h4>Data</h4>\n        <p>{{ value }}</p>\n\n    \n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    form: {\n                        test: '',\n                        test2: ''\n                    },\n                    value: 'hello world',\n                    isConnected: false,\n                    wsUrl: \"ws://localhost:1880/websocket\"\n                }\n            },\n            computed: {\n                socket() {\n                    return new WebSocket(this.wsUrl);\n                }\n            },\n            methods: {\n                onSubmit() {\n                    let data = JSON.stringify(this.form);\n                    console.log('submitting data', data);\n                    this.socket.send(data);\n\n                }\n            },\n            created() {\n                this.socket.onopen = () => {\n                    console.log('socket open');\n                    this.isConnected = true;\n                };\n                this.socket.onclose = () => {\n                    this.isConnected = false;\n                };\n                this.socket.onmessage = (msg) => {\n                    console.log('socket message', msg)\n                    this.value = msg.data;\n                };\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":420,"y":100,"wires":[["dda1c9dd.987198"]]},{"id":"e91bd0d.b138c3","type":"template","z":"959de826.34da18","name":"VueJS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <h2>VueJS REST Demo</h2>\n        <b>Server Message:</b>\n        <p>{{serverMsg}}</p>\n        <h3>Form</h3>\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test1\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Submit</button>\n        <h4>Results</h4>\n        <p>{{ value }}</p>\n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js\"></script>\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    value: 'your post will appear here',\n                    form: {\n                        test1: '',\n                        test2: ''\n                    },\n                    serverMsg: ''\n                }\n            },\n            methods: {\n                onSubmit() {\n                    console.log('onSubmit this.form', this.form);\n                    axios.post('/vue-rest/post', this.form).then(res => {\n                        console.log('post res', res.data)\n                        this.value = res.data;\n                    });\n                }\n            },\n            mounted() {\n                axios.get('/vue-rest/data').then(res => {\n                    this.serverMsg = res.data;\n                })\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":360,"y":400,"wires":[["339c671e.319c18"]]},{"id":"8c0f688.25dd398","type":"debug","z":"959de826.34da18","name":"websocket msg received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":260,"wires":[]},{"id":"901e7133.a1d27","type":"json","z":"959de826.34da18","name":"","property":"payload","action":"","pretty":false,"x":480,"y":260,"wires":[["8c0f688.25dd398"]]},{"id":"4f3208b5.7214a8","type":"http in","z":"959de826.34da18","name":"","url":"/vue-rest","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["e91bd0d.b138c3"]]},{"id":"339c671e.319c18","type":"http response","z":"959de826.34da18","name":"","statusCode":"","headers":{},"x":580,"y":400,"wires":[]},{"id":"75192aeb.584ec4","type":"http in","z":"959de826.34da18","name":"","url":"/vue-rest/post","method":"post","upload":false,"swaggerDoc":"","x":220,"y":500,"wires":[["bd2dea8a.077128","2b24cd18.e1a602"]]},{"id":"805a1383.625d9","type":"http response","z":"959de826.34da18","name":"","statusCode":"","headers":{},"x":580,"y":500,"wires":[]},{"id":"bd2dea8a.077128","type":"debug","z":"959de826.34da18","name":"Vue POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":580,"wires":[]},{"id":"2b24cd18.e1a602","type":"function","z":"959de826.34da18","name":"Apply timestamp","func":"msg.payload.timestamp = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["805a1383.625d9"]]},{"id":"d791cea7.9d7b3","type":"comment","z":"959de826.34da18","name":"Websocket","info":"","x":210,"y":140,"wires":[]},{"id":"8b96c36.8aaed4","type":"comment","z":"959de826.34da18","name":"VueJS App","info":"","x":150,"y":360,"wires":[]},{"id":"4f4229ba.db8998","type":"comment","z":"959de826.34da18","name":"Form Submit","info":"","x":200,"y":460,"wires":[]},{"id":"44d5b4a.e78f24c","type":"http in","z":"959de826.34da18","name":"","url":"/vue-rest/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":640,"wires":[["be28b06a.d4839"]]},{"id":"aea62013.7f316","type":"http response","z":"959de826.34da18","name":"","x":580,"y":640,"wires":[]},{"id":"be28b06a.d4839","type":"function","z":"959de826.34da18","name":"Sample Data","func":"msg.payload = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["aea62013.7f316"]]},{"id":"3ea93cda.5ead44","type":"comment","z":"959de826.34da18","name":"Receive Data","info":"","x":200,"y":600,"wires":[]},{"id":"5f2a961a.19e478","type":"websocket out","z":"6ebac979.99d1d8","name":"","server":"7f686258.f20b4c","client":"","x":1130,"y":200,"wires":[]},{"id":"460e16e8.84e348","type":"http in","z":"6ebac979.99d1d8","name":"","url":"/wsTest","method":"get","upload":false,"swaggerDoc":"","x":130,"y":720,"wires":[["ad4af744.0d7888"]]},{"id":"ad4af744.0d7888","type":"template","z":"6ebac979.99d1d8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta HTTP-EQUIV=\"CACHE-CONTROL\" CONTENT=\"NO-CACHE\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>실시간 온도, 습도 측정기</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css\" />\n  <script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  <script src=\"//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js\"></script>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts.js\"></script>\n\n  <script>\n     if(location.protocol==\"https:\"){\n          var wsUri=\"wss://\"+window.location.hostname+\":1880/ws/scaleData\";\n     } else {\n          var wsUri=\"ws://\"+window.location.hostname+\":1880/ws/scaleData\";\n     }\n     var ws=null;\n\n     function wsConn() {\n          ws = new WebSocket(wsUri);\n          ws.onmessage = function(m) {\n               console.log('[@.@] ' + new Date().toLocaleString() + m.data);\n               var msg =JSON.parse(m.data);\n               console.log(msg);\n          }\n          ws.onopen = function() {\n               console.log(\"[@.@] connecting...\");\n          }\n          ws.onclose   = function()  {\n               ws = null;\n               setTimeout(wsConn, 10000);\n          }\n          ws.onerror  = function(){\n               console.log(\"[@.@] connection error\");\n          }\n     }\n     wsConn();\n      </script>\n</head>\n<body>\n  <div id=\"temp\" style=\"width: 100%; height: 300px; margin-left:-5px;\"></div>\n  <div id=\"humi\" style=\"width: 100%; height: 300px; margin-left:-5px;\"></div>\n</body>\n</html>","output":"str","x":320,"y":720,"wires":[["db0e4ea3.08fc3"]]},{"id":"db0e4ea3.08fc3","type":"http response","z":"6ebac979.99d1d8","name":"","statusCode":"","headers":{},"x":480,"y":720,"wires":[]},{"id":"2917426f.80ce4e","type":"comment","z":"6ebac979.99d1d8","name":"웹소켓 접속 테스트","info":"","x":110,"y":660,"wires":[]},{"id":"8e5ab079.4dea1","type":"comment","z":"6ebac979.99d1d8","name":"저울 데이터 ws 전송 및 DB저장","info":"aaaa","x":150,"y":40,"wires":[]},{"id":"bc6c86d3.213998","type":"function","z":"6ebac979.99d1d8","name":"저울 검색","func":"// flow 전역변수 저장\nflow.set('weightData', msg.payload);\n\nmsg.topic = \n    `SELECT scaleName, unitPerWeight FROM tblscaleinfo\n        WHERE groupName = ? AND scaleID = ?\n    `;\nmsg.payload = [msg.payload.groupName, msg.payload.scaleID];\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":200,"wires":[["637d874b.180d88"]]},{"id":"6638f4d7.d5de0c","type":"mysql","z":"6ebac979.99d1d8","mydb":"981b3d60.cf62d","name":"입력 - MySQL","x":720,"y":200,"wires":[["2358c5d4.8452ba","59db9d15.f08844"]]},{"id":"2358c5d4.8452ba","type":"function","z":"6ebac979.99d1d8","name":"웹 소켓데이터","func":"msg.payload = {\n    scaleData: flow.get('scaleData'),\n    weightData: flow.get('weightData')\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["5f2a961a.19e478","1e3996cf.4a81e9"]]},{"id":"59db9d15.f08844","type":"debug","z":"6ebac979.99d1d8","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":260,"wires":[]},{"id":"1e3996cf.4a81e9","type":"debug","z":"6ebac979.99d1d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":260,"wires":[]},{"id":"7c67abb8.7cacf4","type":"inject","z":"6ebac979.99d1d8","name":"테스트","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["67e26507.6c0e4c"]]},{"id":"3fddf3f7.3cd7ec","type":"debug","z":"6ebac979.99d1d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":980,"wires":[]},{"id":"67e26507.6c0e4c","type":"function","z":"6ebac979.99d1d8","name":"ㅁㅁㅁ","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = count;\n\n// console.log(context);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":980,"wires":[["3fddf3f7.3cd7ec"]]},{"id":"4f73e857.9eb528","type":"comment","z":"130437bc.7c7008","name":"MySql 처리","info":"","x":90,"y":40,"wires":[]},{"id":"c7d1307f.cfeb2","type":"modbus-getter","z":"b5c63e8f.9b574","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","server":"b8d95883.e883d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":410,"y":190,"wires":[["2c856768.3e3b88","e9730f91.f9082"],["a4157a28.edbef8"]]},{"id":"92edc4f4.9972e8","type":"http in","z":"b5c63e8f.9b574","name":"","url":"/modbus/flex/read","method":"get","upload":false,"swaggerDoc":"","x":190,"y":340,"wires":[["6d0f6aec.77d784"]]},{"id":"2c856768.3e3b88","type":"debug","z":"b5c63e8f.9b574","name":"","active":true,"console":"false","complete":"true","x":770,"y":130,"wires":[]},{"id":"a4157a28.edbef8","type":"modbus-response","z":"b5c63e8f.9b574","name":"","registerShowMax":20,"x":690,"y":200,"wires":[]},{"id":"6d0f6aec.77d784","type":"modbus-flex-getter","z":"b5c63e8f.9b574","name":"","showStatusActivities":false,"showErrors":false,"server":"b8d95883.e883d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":430,"y":340,"wires":[["326ab03a.5d2c5","c7ffe8ab.fbf0d8"],["3ed72112.3dc20e"]]},{"id":"3ed72112.3dc20e","type":"modbus-response","z":"b5c63e8f.9b574","name":"","registerShowMax":20,"x":670,"y":330,"wires":[]},{"id":"326ab03a.5d2c5","type":"debug","z":"b5c63e8f.9b574","name":"","active":true,"console":"false","complete":"true","x":750,"y":290,"wires":[]},{"id":"2eb98c75.0c3154","type":"catch","z":"b5c63e8f.9b574","name":"","scope":null,"x":650,"y":80,"wires":[["baafbd32.a527a"]]},{"id":"9087d99d.369fb8","type":"modbus-flex-server","z":"b5c63e8f.9b574","name":"","logEnabled":false,"serverAddress":"","serverPort":"18502","responseDelay":100,"unitId":1,"delayUnit":"ms","coilsBufferSize":20000,"registersBufferSize":20000,"minAddress":0,"splitAddress":10000,"funcGetCoil":"function getFlexCoil(addr, unitID) {\n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.coils.readUInt8(addr * node.bufferFactor) \n\t}  \n}","funcGetInputRegister":"function getFlexInputRegister(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcGetHoldingRegister":"function getFlexHoldingRegsiter(addr, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr > node.splitAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\treturn node.registers.readUInt16BE(addr * node.bufferFactor)  \n\t} \n}","funcSetCoil":"function setFlexCoil(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.coils.writeUInt8(value, addr * node.bufferFactor)  \n\t} \n}","funcSetRegister":"function setFlexRegister(addr, value, unitID) { \n\tif (unitID === node.unitId && \n\t\taddr >= node.minAddress && \n\t\taddr <= node.splitAddress * 2) { \n\n\t\tnode.registers.writeUInt16BE(value, addr * node.bufferFactor)  \n\t} \n}","x":200,"y":70,"wires":[[],[],[]]},{"id":"c7ffe8ab.fbf0d8","type":"http response","z":"b5c63e8f.9b574","name":"","statusCode":"","headers":{},"x":630,"y":290,"wires":[]},{"id":"e4cc3d99.69254","type":"http in","z":"b5c63e8f.9b574","name":"","url":"/modbus/read","method":"get","upload":false,"swaggerDoc":"","x":180,"y":190,"wires":[["c7d1307f.cfeb2"]]},{"id":"e9730f91.f9082","type":"http response","z":"b5c63e8f.9b574","name":"","statusCode":"","headers":{},"x":640,"y":130,"wires":[]},{"id":"baafbd32.a527a","type":"debug","z":"b5c63e8f.9b574","name":"","active":true,"console":"false","complete":"true","x":800,"y":80,"wires":[]},{"id":"c7aa51ee.4aada","type":"modbus-flex-write","z":"b5c63e8f.9b574","name":"","showStatusActivities":false,"showErrors":false,"server":"b8d95883.e883d8","x":420,"y":530,"wires":[["2c43fa97.9463a6"],["60b7c9e9.e748f8"]]},{"id":"968b2d09.375b3","type":"modbus-write","z":"b5c63e8f.9b574","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"b8d95883.e883d8","x":410,"y":440,"wires":[["6b0f9b43.1d9fa4"],["f32556dc.3c3968"]]},{"id":"e69dd82c.6adea8","type":"http in","z":"b5c63e8f.9b574","name":"","url":"/modbus/write","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["968b2d09.375b3"]]},{"id":"6b0f9b43.1d9fa4","type":"http response","z":"b5c63e8f.9b574","name":"","statusCode":"","headers":{},"x":640,"y":400,"wires":[]},{"id":"f32556dc.3c3968","type":"modbus-response","z":"b5c63e8f.9b574","name":"","registerShowMax":20,"x":680,"y":440,"wires":[]},{"id":"7f99c229.859a1c","type":"http in","z":"b5c63e8f.9b574","name":"","url":"/modbus/flex/write","method":"get","upload":false,"swaggerDoc":"","x":190,"y":530,"wires":[["c7aa51ee.4aada"]]},{"id":"2c43fa97.9463a6","type":"http response","z":"b5c63e8f.9b574","name":"","statusCode":"","headers":{},"x":640,"y":490,"wires":[]},{"id":"60b7c9e9.e748f8","type":"modbus-response","z":"b5c63e8f.9b574","name":"","registerShowMax":20,"x":680,"y":530,"wires":[]},{"id":"933dd6c8.05ff18","type":"comment","z":"b5c63e8f.9b574","name":"HTTP request GET working examples","info":"## Read\n\n### Flex Read\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=3&address=0&quantity=5\n\nhttp://localhost:1880/modbus/flex/read?value=0&unitid=1&fc=4&address=0&quantity=5\n\n### Read\n\nhttp://localhost:1880/modbus/read\n\n## Write\n\n### Test HTTP without Modbus\n\nhttp://localhost:1880/modbus/flex/write/test?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n\n### Flex Write\n\nhttp://localhost:1880/modbus/flex/write?value=10&unitid=1&fc=6&address=0&quantity=1\n\nhttp://localhost:1880/modbus/flex/write?value=[1,2,3,4,5]&unitid=1&fc=16&address=0&quantity=5\n\n### Write\n\nhttp://localhost:1880/modbus/write\n","x":240,"y":140,"wires":[]},{"id":"d11cd934.355208","type":"http in","z":"b5c63e8f.9b574","name":"","url":"/modbus/flex/write/test","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["9a65ffac.5b127"]]},{"id":"3f4627f9.1529a8","type":"debug","z":"b5c63e8f.9b574","name":"","active":true,"console":"false","complete":"true","x":590,"y":620,"wires":[]},{"id":"9a65ffac.5b127","type":"function","z":"b5c63e8f.9b574","name":"","func":"if (msg.payload.value && msg.payload.value.indexOf(',') > -1) {\n    msg.payload.value = JSON.parse(msg.payload.value)\n}\n\nif (msg.value && msg.value.indexOf(',') > -1) {\n    msg.value = JSON.parse(msg.payload.value)\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["3f4627f9.1529a8","8cb58b73.09fd18"]]},{"id":"8cb58b73.09fd18","type":"http response","z":"b5c63e8f.9b574","name":"","statusCode":"","headers":{},"x":590,"y":660,"wires":[]},{"id":"73188732.945738","type":"modbus-read","z":"29ec20e0.4d1cf","name":"read 1","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9fde34f4.b4d728","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":440,"wires":[[],["94b85601.c8e178"]]},{"id":"94e43013.f686d","type":"modbus-write","z":"29ec20e0.4d1cf","name":"write","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"9fde34f4.b4d728","x":370,"y":600,"wires":[[],["9bca25ab.f97fe8"]]},{"id":"5363e3f.d27fe1c","type":"inject","z":"29ec20e0.4d1cf","name":"","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"x":155.77835845947266,"y":582.3835258483887,"wires":[["94e43013.f686d"]]},{"id":"9bca25ab.f97fe8","type":"debug","z":"29ec20e0.4d1cf","name":"","active":true,"console":"false","complete":"false","x":568.9943294525146,"y":611.4090976715088,"wires":[]},{"id":"94b85601.c8e178","type":"function","z":"29ec20e0.4d1cf","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nm = msg.payload.data[0]\nreturn {payload: m};\n","outputs":1,"noerr":0,"x":311.7868595123291,"y":446.78410816192627,"wires":[["56bf7bab.6c8be4","3a7a309e.16ffa","779cdde4.e1a914"]]},{"id":"56bf7bab.6c8be4","type":"debug","z":"29ec20e0.4d1cf","name":"","active":false,"console":"false","complete":"payload","x":572.0085468292236,"y":416.4148120880127,"wires":[]},{"id":"b20b5de0.1a8e","type":"modbus-server","z":"29ec20e0.4d1cf","name":"Modbus Server","logEnabled":false,"hostname":"","serverPort":10502,"responseDelay":100,"delayUnit":"ms","coilsBufferSize":1024,"holdingBufferSize":1024,"inputBufferSize":1024,"x":358.9999713897705,"y":108.99999380111694,"wires":[["abd0f6a.7300b08"],["abd0f6a.7300b08"],["abd0f6a.7300b08"]]},{"id":"abd0f6a.7300b08","type":"debug","z":"29ec20e0.4d1cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":588.9999713897705,"y":108.99999380111694,"wires":[]},{"id":"2f12e3a6.0957bc","type":"inject","z":"29ec20e0.4d1cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":158.9999713897705,"y":108.99999380111694,"wires":[["b20b5de0.1a8e"]]},{"id":"d55cbb62.13c558","type":"comment","z":"29ec20e0.4d1cf","name":"Creates a Modbus Slave device to read and write to","info":"","x":285.6999816894531,"y":65.99999618530273,"wires":[]},{"id":"4be84f43.b76c7","type":"comment","z":"29ec20e0.4d1cf","name":"Read modbus register(s)","info":"","x":201.99998664855957,"y":399.9999761581421,"wires":[]},{"id":"d4c0f239.bb238","type":"comment","z":"29ec20e0.4d1cf","name":"Write modbus register(s)","info":"","x":215.0000057220459,"y":548.9999952316284,"wires":[]},{"id":"779cdde4.e1a914","type":"ui_chart","z":"29ec20e0.4d1cf","name":"","group":"a0d93b54.7a8818","order":2,"width":0,"height":0,"label":"Holding Register Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":604.7000026702881,"y":497.6000671386719,"wires":[[],[]]},{"id":"fc4b2169.d572f","type":"ui_slider","z":"29ec20e0.4d1cf","name":"","label":"Set Value","group":"a0d93b54.7a8818","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":162.7000026702881,"y":627.3999943733215,"wires":[["94e43013.f686d","ee6a5662.ba1428"]]},{"id":"3a7a309e.16ffa","type":"ui_text","z":"29ec20e0.4d1cf","group":"a0d93b54.7a8818","order":1,"width":0,"height":0,"name":"","label":"Holding Register","format":"{{msg.payload}}","layout":"row-spread","x":584.6999988555908,"y":460.3999786376953,"wires":[]},{"id":"ee6a5662.ba1428","type":"ui_text","z":"29ec20e0.4d1cf","group":"a0d93b54.7a8818","order":4,"width":0,"height":0,"name":"","label":"Set Value","format":"{{msg.payload}}","layout":"row-spread","x":370.99999046325684,"y":655.9999804496765,"wires":[]},{"id":"7fd75360.00fcfc","type":"debug","z":"29ec20e0.4d1cf","name":"","active":true,"console":"false","complete":"false","x":585.8333415985107,"y":312.0104274749756,"wires":[]},{"id":"5a17b06b.d3fb8","type":"modbus-flex-write","z":"29ec20e0.4d1cf","name":"","showStatusActivities":false,"showErrors":true,"server":"9fde34f4.b4d728","x":373.1173686981201,"y":306.610312461853,"wires":[[],["7fd75360.00fcfc"]]},{"id":"3455a33.86bac5c","type":"inject","z":"29ec20e0.4d1cf","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":152.99999809265137,"y":238.01055717468262,"wires":[["f56c74.eee5c39","a4e1813.6ea298"]]},{"id":"d22351a7.f3979","type":"function","z":"29ec20e0.4d1cf","name":"Startup Values","func":"msg.payload = { value:[false, false, false, false], \n'fc': 15, \n'unitid': 1, \n'address': 0, \n'quantity': 4 } \nreturn msg","outputs":1,"noerr":0,"x":487.83329582214355,"y":223.67724418640137,"wires":[["5a17b06b.d3fb8"]]},{"id":"f56c74.eee5c39","type":"delay","z":"29ec20e0.4d1cf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":305.9999828338623,"y":223.34393119812012,"wires":[["d22351a7.f3979"]]},{"id":"6825678.d289098","type":"function","z":"29ec20e0.4d1cf","name":"Startup Values","func":"msg.payload = { value:[100,90,100,200,100,200], \n'fc': 16, \n'unitid': 1, \n'address': 1, \n'quantity': 6 } \nreturn msg","outputs":1,"noerr":0,"x":487.83329582214355,"y":259.67724418640137,"wires":[["5a17b06b.d3fb8"]]},{"id":"a4e1813.6ea298","type":"delay","z":"29ec20e0.4d1cf","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":305.9999828338623,"y":259.3439311981201,"wires":[["6825678.d289098"]]},{"id":"ab2188d2.9c6368","type":"comment","z":"29ec20e0.4d1cf","name":"Startup Sim Values","info":"","x":182.76666069030762,"y":189.87725067138672,"wires":[]},{"id":"bc733641.a44b68","type":"inject","z":"7ba3c69.3ac4738","name":"","topic":"","payload":"aaaaa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["65c61fd2.9e22d"]]},{"id":"79d3caf6.8f3144","type":"debug","z":"7ba3c69.3ac4738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":140,"wires":[]},{"id":"65c61fd2.9e22d","type":"function","z":"7ba3c69.3ac4738","name":"","func":"msg = {\n  topic: 'aaaa',\n  payload: 'bbbb'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["79d3caf6.8f3144"]]}]